@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: black;
    color: white;
    font-size: 16px;
    overflow: hidden;
}

p, h2, div.number{
    font-family: "League Gothic", sans-serif;
}

header {
    position: fixed; /*deixa o header fixo*/
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 600px;
    gap: 10%;
    width: 78vw;
    z-index: 2;
}

header img {
    width: 250px;
}

header nav ul {
    display: grid;
    grid-template-columns: repeat(3, 200px);
}

section {
    background-image: radial-gradient(#7f3d9e, #6d00d9);
    height: 100vh;
    position: relative;
}

.arrow {
    position: absolute;
    top: -50%;
    left: 20%;
    width: 65vw;
    justify-content: space-between;
    display: flex;
    transform: translate(-50%, -25px);
    z-index: 1;
    transform: translateY(-348px);
} 

.arrow #seta-dir {
    transform: scaleX(-1);
} 

.arrow button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: white;
    transition: 0.3s; 
    z-index: 10;
}

.arrow button img {
    width: 30px;
    margin-top: 5px;
}

.arrow button:hover {
    background-color: #beff1b;
}

.indicador {
    position: absolute;
    top: 78%;
    left: 8%;
    height: 200px;
    width: 90vw;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 2%;
    opacity: 1;
    transform: translateY(-362px);
}

.indicador .number {
    font-size: 4em;
}

.indicador ul {
    display: flex;
    gap: 10px;
}

.indicador ul li {
    background-color: #beff1b;
    width: 50px;
    height: 5px;
    border-radius: 5px;
    transition: 0.5s;
} 
 
.indicador ul .active {
    background-color: white;
} 

section .list {
    position: relative;
    margin: auto;
    width: 70vw;
    height: 100%;
    transform: translateY(31vw);
}

section > .list::before{
    content: '';
    border-top: 1px solid white;
    top: -15%;
    left: 11%;
    width: 85%;
    height: 200px;
    position: absolute;
}

.item {
    transform: translateX(100vw);
    transition: 0.5s;
}

/*AJUSTANDO IPHONE*/

.item.active#iphone{
    transform: translateX(0vw);
    transition: 0.5s;
    opacity: 1;
}

.item.active#iphone .cel-image {
    position: absolute;
    top: 50%;
    transform: translateY(10%);
    left: 16%;
    transition: 0.5s;
    transition-delay: 0.3s;
}

.item.active#iphone .content {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    align-items: end;
    justify-content: end;
    gap: 1.5%;
    left: 32%;
    top: -32%;
}

.item.active#iphone .cel-image img {
    width: 33.2%;
}

/*IPHONE*/

/*SAMSUNG*/

.item.active#samsung{
    transform: translateX(-110vw);
    transition: 0.5s;
    opacity: 1;
}

.item.active#samsung .cel-image {
    position: relative;
    top: 50%;
    transform: translateY(-77%);
    left: -43%;
    transition: 0.5s;
    transition-delay: 0.3s;
}

.item.active#samsung .content {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    align-items: end;
    justify-content: end;
    gap: 1.5%;
    left: 32%;
    top: -33%;
}

section .item .cel-image img {
    width: 74.7%;
}

.item.active#samsung .description {
    color: #d9d9d9;
    font-size: 24px;
    text-align: right;
    width: 650px;
    transition-delay: 0.7s;
}

/*SAMSUNG*/

/*XIAOMI*/
.item.active#xiaomi{
    transform: translateX(-228vw);
    transition: 0.5s;
    opacity: 1;
}

.item.active#xiaomi .cel-image {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: -80%;
    transition: 0.5s;
    transition-delay: 0.3s;
}

.item.active#xiaomi .cel-image img {
    width: 105%;
}

.item.active#xiaomi .content {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    align-items: end;
    justify-content: end;
    gap: 1.5%;
    left: 90%;
    top: -70%;
}

.item.active#xiaomi h2{
    width: 125%;
}

.item.active#xiaomi .description {
    color: #d9d9d9;
    font-size: 24px;
    text-align: right;
    width: 650px;
    transition-delay: 0.5s;
}

#xiaomi button.saiba-mais:hover{
    background-color: white;
    transition: 0.2s;
}

/*XIAOMI*/

section .item .content {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 60%;
    align-items: end;
    justify-content: end;
    gap: 1.5%;
    left: 50%;
    top: -37%;
}

section .item .cel-information {
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    font-size: small;
    transition-delay: 0.6s;
}

section .item h2 {
    font-size: 4.7em;
    line-height: 1em;
    transition-delay: 0.4s;
}

section .item .description {
    color: #d9d9d9;
    font-size: 24px;
    text-align: right;
    max-width: 480px;
    transition-delay: 0.7s;
}

section .item .saiba-mais {
    border-radius: 30px;
    border: 2px solid #6b1cbb;
    background-color: #beff1b;
    height: 35px;
    width: 120px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
    z-index: 10;
}

/*animaçao texto*/

.cel-information, h2, .description, .saiba-mais{
    transition: 0.5s;
    transition-delay: 0.3s;
}

section .item.active .saiba-mais:hover{
    background-color: white;
    transition: 0.2s;
}

div#detalhes{
    transform: translateX(0);
    display: block;
    z-index: 10;
}